body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(0,212,255,1) 90%);
    padding: 20px;
    margin: 0;
    position:center;
  }
  
  .dashboard-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width:50%;
  }
  
  button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  #todo-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    width:50%;
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: rgb(185, 185, 10); }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

#assign{
  animation: rainbow 3s infinite;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-item label {
    margin-left: 10px;
}

#gradebook-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.grade-item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


textarea, input{
  border-radius: 10px;
  border-color: black;
}
textarea{
  margin-top: 10px;
}