body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(0,212,255,1) 90%);
    padding: 20px;
    margin: 0;
    position:center;
  }
  
  .dashboard-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width:50%;
  }
  
  button {
    margin: 15px 0;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  #todo-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    width:50%;
}


#assign{
  animation: rainbow 3s infinite;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-item label {
    margin-left: 10px;
}

#gradebook-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.grade-item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


textarea, input {
  border-radius: 5px;
  border-color: black;
  font-family: "Arial";
  font-size: 1.25em; /* 1.5em (label font size) * 1.25 = 1.875em */
}
textarea {
  margin-top: 10px;
}
.dashboard-container, #todo-section, #heading-div {
  width: 67.5%;
}

#gradebook-section {
  width: 67.5%;
}

#dashboard-image {
  display: block;
  max-width: 56.25%;
  height: auto;
  margin: 25 auto;
}
h1 {
  font-size: 3.5em;
  color:blue;
}
#heading-div {
  width: calc(67.5%); /* Increased width to make the box 200 times wider */
  margin: 0 0 50px 0; /* Removed top and left margin, kept bottom margin */
  padding: 0px 20px; /* Reduced padding to make the box less tall */
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
  height: 12.5vh; /* Shrink down the height of the box by 200 percent */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h3 {
  font-size: 2.5em;
  color:blue;
}
label {
  font-size: 1.5em;
  color:black;
}

p {
  font-size: 10em;
  color:black;
}

#assign-button, #filter-button {
  font-size: 1em;
  padding: 5px 8px;
}
